<div class="typewriterin" data-controller="background" data-action="config-panel:updateConfig@window->background#loadConfig">
  <div class="typewriterin__header">
    <div class="typewriterin__header__logo" data-controller="title" data-action="config-panel:updateConfig@window->title#loadConfig">
      TYPEWRITERIN 2
    </div>
  </div>
  <div class="typewriterin__textarea" data-controller="editor" data-action="click->editor#twinkling config-panel:updateConfig@window->editor#loadConfig">
    <textarea placeholder="Type anything!" data-editor-target="textarea" data-action="input->editor#type">
    </textarea>
  </div>
  <div class="typewriterin__footer" data-controller="config-buttons" data-action="mouseover->config-buttons#show mouseleave->config-buttons#hide config-panel:updateConfig@window->config-buttons#loadConfig">
    <div class="typewriterin__footer__config-button-wrapper icon-button">
      <button class="typewriterin__footer__config-button" data-action="click->config-buttons#callConfigPanel">
        <i class='fas fa-cog fa-3x'></i>
      </button>
    </div>
  </div>

  <div class="typewriterin__config" data-controller="config-panel" data-action="config-buttons:callConfigPanel@window->config-panel#show">
    <div class="typewriterin__config__panel">
      <div class="typewriterin__config__panel__row">
        <label for="typewriterin-font-family">FONT-FAMILY: </label>
        <div class="input-wrapper">
          <input type="text" name='typewriterin-font-family' data-config-panel-target="editorFontFamily" :value="editorFontFamily" />
        </div>
      </div>
      <div class="typewriterin__config__panel__row">
        <label for="typewriterin-font-size">FONT-SIZE: </label>
        <div class="input-wrapper">
          <input type="text" name='typewriterin-font-size' data-config-panel-target="editorFontSize" :value="editorFontSize" />
        </div>
      </div>
      <div class="typewriterin__config__panel__row">
        <label for="typewriterin-font-color">FONT-COLOR: </label>
        <div class="input-wrapper">
          <input type="text" name='typewriterin-font-color' data-config-panel-target="editorFontColor" :value="editorFontColor" />
        </div>
      </div>
      <div class="typewriterin__config__panel__row">
        <label for="typewriterin-background-color">BACKGROUND-COLOR: </label>
        <div class="input-wrapper">
          <input type="text" name='typewriterin-background-color' data-config-panel-target="editorBackGround" :value="editorBackGround" />
        </div>
      </div>
      <div class="typewriterin__config__panel__close-button-wrapper icon-button">
        <button class="typewriterin__config__panel__close-button" data-action="click->config-panel#hide">
          <i class='fas fa-times fa-3x'></i>
        </button>
      </div>
    </div>
  </div>
</div>
